::before, ::after{
    box-sizing: inherit;
}


html {
    box-sizing: border-box;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    background-color:rgb(13, 13, 38);
    color: rgb(31, 31, 31);
    font-family: var(--font-sans);
    font-size: 20px;
    line-height: 1.3;
}

.email-link{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

:root {
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(255, 255, 255, 0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100,255,218,0.1);
    --pink: #f57dff;
    --blue: #57cbff;
    --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
    --border-radius: 4px;
    --nav-height: 100px;
    --nav-scroll-height: 70px;
    --tab-height: 42px;
    --tab-width: 120px;
    --easing: cubic-bezier(0.645,0.045,0.355,1);
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    --hamburger-width: 30px;
    --ham-before: top 0.1s ease-in 0.25s,opacity 0.1s ease-in;
    --ham-before-active: top 0.1s ease-out,opacity 0.1s ease-out 0.12s;
    --ham-after: bottom 0.1s ease-in 0.25s,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19);
    --ham-after-active: bottom 0.1s ease-out,transform 0.22s cubic-bezier(0.215,0.61,0.355,1) 0.12s;
}

main .fillHeight{
    padding: 0px 150px;
}

.pages_StyledMainContainer{
    counter-reset: section 0;
}

#root {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 100%;
}

section {
    margin: 0px auto;
    padding: 100px 0px;
    max-width: 1000px;
}

.skip-to-content {
    color: var(--green);
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: var(--border-radius);
    font-size: var(--fz-xs);
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
    padding: 1.25rem 1.75rem;
    position: absolute;
    top: auto;
    left: -999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -99;
}

a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: var(--blue);
    position: relative;
    transition: var(--transition);
}

a:-webkit-any-link {
    color: var(--blue);
    cursor: pointer;
    text-decoration: underline;
}



.nav_StyledHeader{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 11;
    padding: 0px 50px;
    width: 100%;
    height: var(--nav-height);
    background-color: rgba(14, 15, 38, 0.85);
    backdrop-filter: blur(10px);
    transition: var(--transition);
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
}

.nav_StyledNav{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 93%;
    color: var(--lightest-slate);
    font-family: var(--font-mono);
    counter-reset: item 0;
    z-index: 12;
}

.logo{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.nav_StyledNav .logo a{
    color: var(--blue);
    width: 42px;
    height: 42px;
}

.ddd{
    color: red;
    width: 50px;
    height: 50px;
    
}

.nav_StyledNav .logo a svg{
    fill: none;
    transition: var(--transition);
    user-select: none;
    left: 100px;
}

#logo{
    color: var(--blue);
}

.nav_StyledLinks{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.nav_StyledLinks ol{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.nav_StyledLinks ol li{
    margin: 20px 10px;
    position: relative;
    counter-increment: item 1;
    font-size: var(--fz-xs);
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.nav_StyledLinks ol li a{
    padding: 10px;
}

a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: var(--transition);
}



.nav_StyledLinks ol li a::before{
    content: "0" counter(item) ".";
    margin-right: 5px;
    color: var(--green);
    font-size: var(--fz-xxs);
    text-align: right;
    box-sizing: inherit;
}

a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

/*__menu_StyledMenu*/

.menu_StyledMenu{
    display: none;

}

.menu_StyledHamburgerButton{
    display: flex;
}

.button{
    cursor: pointer;
    border: 0px;
    border-radius: 0px;
    appearance: auto;
    writing-mode: horizontal-tb !important;
    font-style: none ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: red;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: red;
    border-image: initial;
}

.nav_StyledLinks .resume-button{
        color: var(--blue);
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: var(--border-radius);
    padding: 0.75rem 1rem;
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
    margin-left: 15px;
    font-size: var(--fz-xs);
}

.pages_StyledMainContainer{
    counter-reset: section 0;
}

main {
    margin: 0px auto;
    width: 90%;
    max-width: 1000px;
    min-height: 100vh;
    padding: 200px 150px;
}

main.fillHeight {
    padding: 0px 150px;
}

.hero_StyledHeroSection{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    height: 100vh;
    padding: 0px;
  
    

}


.section{
    margin: 0px auto;
    padding: 100px - 0px;
    max-width: 100%;
}

.hero_StyledHeroSection h1{
    margin: 0px 0px 30px 4px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-sm),10vw,var(--fz-md));
    font-weight: 100;
}

.big-heading{
    margin: 0px;
    font-size: clamp(40px, 7vw, 80px);
}

.hero_StyledHeroSection h2{
    font-weight: 600;
    color: var(--lightest-slate);
    line-height: 1.1;
}
element.style {
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.hero_StyledHeroSection h3{
    margin-top: 10px;
    color: var(--slate);
    line-height: 0.9;
}

h3{
    font-weight: 600;
}

.hero_StyledHeroSection p{
    margin: 20px 0px 0px;
    max-width: 580px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: rgb(93, 127, 152);
}

.hero_StyledHeroSection .email-link{
    color: var(--green);
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: var(--border-radius);
    padding: 1.25rem 1.75rem;
    font-size: var(--fz-sm);
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
    margin-top: 50px;
}


/*About*/


.numbered-heading{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px,5vw,var(--fz-heading));
    white-space: nowrap;
}

.numbered-heading::before {
    position: relative;
    bottom: -7px;
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right:0px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-md),3vw,var(--fz-xl));
    font-weight: 400;
}
}

.about_StyledAboutSection{
    max-width: 900px;
}

.numbered-heading::after {
    content: "";
    display: block;
    position: relative;
    top: 2px;
    width: 300px;
    height: 1px;
    margin-left: 20px
px
;
    background-color: var(--lightest-navy);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px 0px 10px;
    font-weight: 600;
    color: var(--lightest-slate);
    line-height: 1.1;
}

.about_StyledAboutSection .inner {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}

p {
    margin: 0px 0px 15px;
}

.about_StyledAboutSection .inner {
    display: flex;
}


element.style {
    opacity: 0;
    transition: opacity 500ms linear 0s;
    background-color: rgb(232, 232, 232);
    position: absolute;
    inset: 0px;
    object-fit: cover;
}


.about_StyledText ul.skills-list {
    display: grid;
    color: rgb(255, 255, 255);
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
}

.about_StyledText ul.skills-list li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
}

.about_StyledText ul.skills-list li::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: var(--green);
    font-size: var(--fz-sm);
    line-height: 12px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.about_StyledPic {
    position: relative;
    max-width: 300px;
}

.about_StyledPic .wrapper {
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
    display: block;
    position: relative;
    width: 100%;
    border-radius: var(--border-radius);
    background-color: var(--green);
}


.about_StyledPic .wrapper:hover{
    outline: 0px;
}

.about_StyledPic .wrapper:hover {
    box-shadow: 0 20px 30px -15px var(--navy-shadow);
}

.about_StyledPic .wrapper::before {
    top: 0px;
    left: 0px;
    background-color: var(--navy);
    mix-blend-mode: screen;
}

element.style {
    max-width: 100%;
    display: block;
    position: static;
}

.about_StyledPic .wrapper::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.about_StyledPic .wrapper .img {
    position: relative;
    border-radius: var(--border-radius);
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1);
    transition: var(--transition);
}

img, svg, .gatsby-image-wrapper {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
   
}

.gatsby-image-wrapper-constrained {
    display: inline-block;
}

.gatsby-image-wrapper {
    position: relative;
    overflow: hidden;
}

.about_StyledPic {
    position: relative;
    max-width: 300px;
}

.gatsby-image-wrapper img {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    max-width: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
}

p > a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: var(--transition);
    color: var(--blue);
}

p > a::after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    position: relative;
    bottom: 0.37em;
    background-color: var(--green);
    transition: var(--transition);
    opacity: 0.5;
}




.jobs_StyledJobsSection{
    max-width: 700px;
}

.numbered-heading {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px,5vw,var(--fz-heading));
    white-space: nowrap;
}

.jobs_StyledJobsSection .inner{
    display: flex;
}


.jobs_StyledTabList{
    position: relative;
    z-index: 3;
    width: max-content;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.jobs_StyledTabButton {
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: var(--transition);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: var(--tab-height);
    padding: 0px 20px 2px;
    border-left: 2px solid var(--lightest-navy);
    background-color: transparent;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    text-align: left;
    white-space: nowrap;
}

button {
    cursor: pointer;
    border: 0px;
    border-radius: 0px;
}

.jobs_StyledHighlight {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 2px;
    height: var(--tab-height);
    border-radius: var(--border-radius);
    background: var(--green);
    transform: translateY(calc(0 * var(--tab-height)));
    transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.jobs_StyledTabPanels {
    position: relative;
    width: 100%;
    margin-left: 20px;
    color: rgb(85, 118, 121);
}

.jobs_StyledTabPanels ul li::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: var(--green);
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.featured_StyledProject .project-overline {
    margin: 10px 0px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    font-weight: 400;
}


.featured_StyledProjectsGrid a{
    position: relative;
    z-index: 1;
}

.featured_StyledProject .project-title {
    color: var(--lightest-slate);
    font-size: clamp(24px, 5vw, 28px);
    
}



.featured_StyledProject .project-description {
    box-shadow: 0 10px 30px -15px rgb(0 0 0 / 70%);
    transition: var(--transition);
    position: relative;
    z-index: 2;
    padding: 25px;
    border-radius: var(--border-radius);
    background-color: var(--light-navy);
    color: var(--light-slate);
    font-size: var(--fz-lg);
}


.featured_StyledProject .project-description a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: var(--transition);
    color: var(--green);
}

.featured_StyledProject:nth-of-type(2n+1) .project-content {
    grid-column: 7 / -1;
    text-align: right;
}

.featured_StyledProject .project-content {
    position: relative;
    grid-area: 1 / 1 / -1 / 7;
}

.featured_StyledProject {
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: center;
    align-items: center;
}

.featured_StyledProject:not(:last-of-type) {
    margin-bottom: 100px;
}

.featured_StyledProject:nth-of-type(2n+1) .project-tech-list {
    -webkit-box-pack: end;
    justify-content: flex-end;
}


.featured_StyledProject .project-tech-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    margin: 25px 0px 10px;
    padding: 0px;
    list-style: none;
}

.featured_StyledProject .project-tech-list li {
    margin: 0px 20px 5px 0px;
    color: var(--light-slate);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    white-space: nowrap;
}


.featured_StyledProject:nth-of-type(2n+1) .project-links {
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-left: 0px;
    margin-right: -10px;
}


.featured_StyledProject .project-links {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    margin-left: -10px;
    color: var(--lightest-slate);
}

.featured_StyledProject .project-links a {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px;
}

.featured_StyledProject .project-links a svg {
    width: 20px;
    height: 20px;
}

svg.feather {
    fill: none;
}

svg {
    width: 100%;
    height: 100%;
    fill: currentcolor;
    vertical-align: middle;
}

.featured_StyledProject:nth-of-type(2n+1) .project-image {
    grid-column: 1 / 8;
}


.featured_StyledProject .project-image {
    box-shadow: 0 10px 30px -15px rgb(0 0 0 / 70%);
    transition: var(--transition);
    grid-area: 1 / 6 / -1 / -1;
    position: relative;
    z-index: 1;
}


.featured_StyledProject .project-image a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0px;
    z-index: 3;
    transition: var(--transition);
    background-color: var(--navy);
    mix-blend-mode: screen;

    box-sizing: inherit;
}



.featured_StyledProject .project-image .img {
    border-radius: var(--border-radius);
    mix-blend-mode: multiply;
    
}

.projects_StyledProjectsSection h2 {
    font-size: clamp(24px,5vw,var(--fz-heading));
}

.projects_StyledProjectsSection .archive-link {
    font-family: var(--font-mono);
    font-size: var(--fz-sm);
}

a.inline-link {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: var(--transition);
    color: var(--green);
}

a.inline-link::after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    position: relative;
    bottom: 0.37em;
    background-color: var(--green);
    transition: var(--transition);
    opacity: 0.5;
}

.projects_StyledProjectsSection .projects-grid {
    list-style: none;
    padding: 0px;
    margin: 50px 0px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    position: relative;
}

.projects_StyledProject {
    position: relative;
    cursor: default;
    transition: var(--transition);
}

.projects_StyledProject .project-inner {
    box-shadow: 0 10px 30px -15px rgb(0 0 0 / 70%);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    height: 100%;
    padding: 0rem 1.75rem;
    border-radius: var(--border-radius);
    background-color: var(--light-navy);
    transition: var(--transition);
    overflow: auto;
}


.projects_StyledProject .project-top {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 35px;
}


.projects_StyledProject .project-title a::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.projects_StyledProject .project-title {
    margin: 0px 0px 10px;
    color: var(--lightest-slate);
    font-size: var(--fz-xxl);
}

.projects_StyledProject .project-description {
    color: var(--light-slate);
    font-size: 17px;
}

.projects_StyledProject .project-title a {
    position: static;
}

.projects_StyledProject .project-top .folder {
    color: var(--green);
}

.projects_StyledProject .project-top .project-links {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: -10px;
    color: var(--light-slate);
}

.projects_StyledProject .project-top .folder svg {
    width: 40px;
    height: 40px;
}

svg.feather {
    fill: none;
}

:not(svg) {
    transform-origin: 0px 0px;
}

.projects_StyledProject .project-top .project-links a {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 5px 7px;
}

.projects_StyledProject a {
    position: relative;
    z-index: 1;
}


.projects_StyledProject .project-top .project-links a.external svg {
    width: 22px;
    height: 22px;
    margin-top: -4px;
}

.projects_StyledProject .project-top .project-links a svg {
    width: 20px;
    height: 20px;
}

p:last-child, p:last-of-type {
    margin: 0px;
}

.projects_StyledProject .project-tech-list {
    display: flex;
    align-items: flex-end;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0px;
    margin: 20px 0px 0px;
    list-style: none;
}

.projects_StyledProject .project-tech-list li:not(:last-of-type) {
    margin-right: 15px;
}

.projects_StyledProject .project-tech-list li {
    font-family: var(--font-mono);
    font-size: 15px;
    line-height: 1.75;
    color: rgb(162, 162, 162);
}

.projects_StyledProjectsSection {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.projects_StyledProjectsSection .more-button {
    color: var(--green);
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: var(--border-radius);
    font-size: var(--fz-xs);
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
    padding: 1.25rem 1.75rem;
    margin: 80px auto 0px;
}


.projects_StyledProjectsSection .project-inner:hover{
  
 bottom: 10px;
}

.contact_StyledContactSection {
    max-width: 600px;
    margin: 0px auto 100px;
    text-align: center;
}


.numbered-heading .overline::before {
    bottom: 0px;
    font-size: var(--fz-sm);
}


.numbered-heading1 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 220px 40px;
    width: 100%;
    font-size: clamp(26px,var(--fz-heading));
    color: var(--green);
}

.numbered-heading1::before {
    position: relative;
    bottom: -2px;
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 0px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-md),3vw,var(--fz-xl));
    font-weight: 400;
}

.contact_StyledContactSection .title {
    font-size: clamp(40px, 5vw, 60px);
}

.contact_StyledContactSection .email-link {
    color: var(--green);
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: var(--border-radius);
    padding: 1.25rem 1.75rem;
    font-size: var(--fz-sm);
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
    margin-top: 50px;
}

.footer_StyledFooter {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 70px;
    padding: 15px;
    text-align: center;
}

.footer_StyledSocialLinks {
    display:none;
}

.footer_StyledSocialLinks  ul {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.footer_StyledCredit {
    color: var(--light-slate);
    font-family: var(--font-mono);
    font-size: var(--fz-xxs);
    line-height: 1;
}

.footer_StyledCredit a {
    padding: 10px;
}

.footer_StyledCredit .github-stats {
    margin-top: 10px;
}

.footer_StyledCredit .github-stats svg {
    display: inline-block;
    margin-right: 5px;
    width: 14px;
    height: 14px;
}

.footer_StyledCredit .github-stats > span {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 7px;
}

.side_StyledSideElement {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: var(--light-slate);
}

.social_StyledSocialList {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}


.social_StyledSocialList li a {
    padding: 10px;
}

.social_StyledSocialList::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--light-slate);
}

.social_StyledSocialList li a svg {
    width: 20px;
    height: 20px;
}


.sideleft {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
    color: var(--light-slate);
}



.email_StyledLinkWrapper{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}


.email_StyledLinkWrapper a {
    margin: 20px auto;
    padding: 10px;
    font-family: var(--font-mono);
    font-size: var(--fz-xxs);
    line-height: var(--fz-lg);
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

.email_StyledLinkWrapper::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--light-slate);
}






